body {
 background: #4DCCF0;
}

.container {
  width: 100%;
  max-width: 576px;
  /*max-width: 960px;*/
  margin: 0 auto;
  clear: both;
 
 }

 p  {
 	font-size: 24px;
 	font-family: helvetica, arial, "New Rail Alphabet", "Galaxie Polaris";
 }

 li {
 	font-size: 18px;
 	line-height: 24px;
 	font-family: helvetica, arial, "New Rail Alphabet", "Galaxie Polaris";
 }

 .crystals {
 float: left;
  /*width: 53%;*/
  width: 100%;
  /*max-width: 650px;
  padding: 30px;
  margin: 0 0 40px;*/
  background: gray;
  align-items: center;
  box-sizing: border-box;

}

.wi {

}

.lo {

}

.ta {

}

.sc {

}
 .click {
  width: 80px;
  height: 80px;
  padding: 20px;
  /*margin-top: 8px;
  margin-right: 5px;*/
}

.btn-default {
  padding: 15px;
  background-color: #ccc;

}

.image {
  /*border: 1px solid red;*/
  width: 25%;
  float: left;
}

.button {
  text-align: center;
}